*.{$APP_DOMAIN}, {$APP_DOMAIN} {
	@grafana {
		host grafana.{$APP_DOMAIN}
	}

	@prometheus {
		host prometheus.{$APP_DOMAIN}
	}

	tls {$APP_EMAIL} {
		dns cloudflare {$CF_API_TOKEN}
	}

	encode zstd gzip

	reverse_proxy @grafana grafana:3000

	basicauth @prometheus {
		eric JDJhJDE0JDdPOXhoNUdhSmNVNDl6UWpmeTE0cWVkLjRwcUNJUnc0dVQ4MTZNSmVaNjA1TlptaVZYY1hh
		antonio JDJhJDE0JHI5dkVtMW0vcGxIb011OG4vME5HOU91c3U2VjM2QTZiWVpUeXdSbEg3VUtNZVdhN3BRazFH
		bot JDJhJDE0JFVsRlNHSDlJbFhDeUd0NldRR2JkcGVFYUJtWGluTHZDVlc5L3QwNWNwWUMuODRlcXZNZHpT
	}
	reverse_proxy @prometheus prometheus:9090

	@caddymetrics {
		host monitoring.{$APP_DOMAIN}
		path /_caddy/metrics
	}

	metrics @caddymetrics {
		disable_openmetrics
	}
}
